@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 18px;
  background: linear-gradient(to bottom right, #e66465, #9198e5) no-repeat fixed
    center;
}

body.offline {
  background: linear-gradient(to bottom right, #f28d22, #ce1c12) no-repeat fixed
    center;
}

h1,
h2,
h3 {
  font-family: "Arima Madurai", cursive;
  font-size: 50px;
  font-weight: 300;
  margin: 0;
}

.title {
  box-shadow: 3px 5px black;
  display: inline-block;
  padding: 0 2em;
  margin: 1em;
  border-radius: 1em;
  background: #ffffff0b;
}

.title:hover {
  background: #ffffffc0;
}

.description {
  max-width: 60rem;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background: #ffffffc0;
}

.hidden {
  display: none;
}

#butInstall {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: white;
  padding: 0.8em;
  background-color: #e1676c;
  border-radius: 30% 5% 30% 10%;
  border: none;
}

#butInstall:hover {
  background-color: #b682ae;
}

#butInstall:active {
  transform: scale(0.95) translate(0.1em);
  background-color: #e1676c;
  transition: all 0.3s;
}

#butInstall:active:after {
  border: black;
}
