/* https://css-tricks.com/a-dry-approach-to-color-themes-in-css/ */

:root {
  --ON: initial;
  --OFF: ;
}

.theme-default,
.theme-light {
  --light: var(--ON);
  --dark: var(--OFF);
}

.theme-dark {
  --light: var(--OFF);
  --dark: var(--ON);
}

@media (prefers-color-scheme: dark) {
  .theme-default {
    --light: var(--OFF);
    --dark: var(--ON);
  }
}

:root {
  --bg1: var(--light, white) var(--dark, #252b31);
  --bg2: var(--light, #2e51a2) var(--dark, #1d2024);
  --bg3: var(--light, #fbfcfe) var(--dark, #3e484a);
  --fg1: var(--light, #3e5336) var(--dark, #d1d6d5);
  --fg2: var(--light, #3e5336) var(--dark, #c1c8c7);
  --fg3: var(--light, white) var(--dark, #252b31);
  --hl1: var(--light, #2e51a2) var(--dark, #d9a379);
  --hl2: var(--light, #e5ebfa) var(--dark, #d49c6b);
  --hl3: var(--light, #2e51a2) var(--dark, #d9a379);
  --fg: brightness(0.8);
  --bg: brightness(1.3);
}
